*{
    font-family: "Inter", sans-serif;
}

.Geist-Font{
    font-family: "Geist", sans-serif;
}

.Black{
    color: #1f2937;
    /* color: #f00000; */
}


.ff{
    box-shadow: 
  0px 1px 2px 0px #0000000f, 
  0px 1px 3px 0px #0000001a;

}