*{
    font-family: "Inter", sans-serif;
}

.Geist-Font{
    font-family: "Geist", sans-serif;
}

.Black{
    color: #1f2937;
    /* color: #f00000; */
}

/* .banner-bg{
    background-image: url('assets/hero-leaf1.png'), url('assets/hero-leaf2.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right bottom;
    background-size: 150px auto, 150px auto;
} */